body {
    height: 100%;
    background: url("../images/script.jpeg") no-repeat;
    background-size: cover;
}

.title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #ffffff;
    font-size: 40px;
}

.container {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-size: 35px;
    margin: 7px 0;
}

.info > a {
    font-size: 23px;
    margin-left: 20px;
}

a:hover {
    color: orange;
}

.info > a:hover {
    color: darkred;
}
